/* Подключение шрифтов */
@font-face {
  font-family: 'ProximaNova_Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* Миксины */
.reg() {
  font-family: 'ProximaNova_Rg', sans-serif;
}

.bold() {
  font-family: 'ProximaNova_Bold', sans-serif;
}

/* Цвета оформления */
@bg-light: #ffffff;
@bg-green: #286b0a;
@bg-grey: #f5f5f5;
@btn-color: #fcb303;
@icon-green: #70c849;
@icon-green-dark: #368e10;
@icon-green-dark: #368e10;
@attention: #ff0000;
@text-dark: #242424;
@text-light: #ffffff;

/* Базовые настройки */

html {
  font-size: 10px;
}

body {
  .reg();
}

a:hover {
  text-decoration: none;
}

button,
a,
input,
textarea {
  &:focus {
    outline: none;
  }
}

/* Оформление всего Header */
header {
  height: 7rem;

  /* Ссылка телефона */
  .phone-link {
    height: 7rem;
    line-height: 7rem;
    .bold();
    font-size: 2rem;
    color: @text-dark;
  }

  /* Выравнивание кнопки */
  .wrap {
    display: table;
    width: 100%;
    height: 7rem;

    &-block {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

/* Оформление кнопки */
.button {
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  .bold();
  font-size: 1.2rem;
  color: @text-light;
  background-color: @btn-color;
  border-radius: 0.8rem;
  border: none;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    background-color: darken(@btn-color, 5%);
  }
}

/* Блок Main */
.main {
  padding: 1rem 0;
  background: url(../img/main-img.png) center center no-repeat;
  background-size: cover;

  &-content {
    margin: 10rem 0;
  }

  /* Заголовок */
  &-title {
    margin-bottom: 4rem;
    line-height: 5.8rem;
    .bold();
    font-size: 4rem;
  }

  /* Подзаголовок */
  &-subtitle {
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }

  /* Блок с ценной */
  span {
    display: inline-block;
    margin-bottom: 3rem;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    background-color: @icon-green;
    color: @text-light;

    /* Число 300 */
    strong {
      font-size: 3rem;
    }
  }

  /* Оплата по факту */
  &-trigger {
    display: block;
    font-size: 2.2rem;
  }

  /* Оформление формы для заказа */
  &-form {
    padding: 3.5rem 4rem;
    text-align: center;
    background-color: @bg-light;

    /* Заголовок */
    &-title {
      margin-bottom: 3rem;
      font-size: 1.8em;

      strong {
        .bold();
        font-size: 1.9rem;
      }
    }

    /* Подписи к полям */
    label {
      position: absolute;
      display: inline-block;
      padding: 0.5rem;
      font-size: 1.3rem;
      transform: translateX(-50%) translateY(-50%);
      background-color: @bg-light;
    }

    /* Поля для ввода */
    &-input {
      display: block;
      width: 100%;
      margin-bottom: 2rem;
      padding: 1rem;
      font-size: 2rem;
      border: 0.1rem solid #dddddd;
      border-radius: 5px;
    }

    /* Кнопка */
    &-btn {
      display: block;
      width: 100%;
      margin-bottom: 1.5rem;
      padding: 2rem;
      .bold();
      font-size: 1.6rem;
    }

    /* Информация под кнопкой */
    small {
      font-size: 1.2rem;
    }
  }
}

/* Блок с приемуществами */
.features {
  margin-bottom: 8rem;
  text-align: center;

  /* Заголовок */
  &-header {
    margin: 7rem 0 8rem;
    .bold();
    font-size: 3.6rem;
  }

  /* Иконки */
  &-img {
    height: 8rem;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &-block {

    /* Подзаголовки */
    h3 {
      margin-top: 3rem;
      margin-bottom: 2rem;
      .bold();
      font-size: 2rem;
    }

    /* Текст */
    p {
      padding: 0 5rem;
      font-size: 1.6rem;
    }
  }
}

/* Слайдер */
.slick-active {
  outline: none;
}

/* Стрелки слайдера */
.arrow {
  top: 50%;
  transform: translateY(-50);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 3rem;
  border: none;
}

.prev {
  left: 0;
  background: url('../img/prev.svg') center no-repeat;
  background-size: 70%;
}

.next {
  right: 0;
  background: url(../img/next.svg) center no-repeat;
  background-size: 70%;
}

/* Оформление блок с услугами и ценами */
.price {
  background: @icon-green-dark url(../img/price/price-bg.jpg) center;
  text-align: center;
  color: @text-light;

  &-header {
    margin-top: 10rem;
    margin-bottom: 6rem;

    h1 {
      .bold();
      font-size: 3.6rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  &-btn {
    margin-top: 11rem;
  }

  &-block {
    margin-bottom: 4rem;
    padding: 2rem;
    background: @bg-light;
    color: @text-dark;
    box-shadow: 0 1.4rem 2.1rem rgba(0, 0, 0, 0.17);
    min-height: 56rem;

    h4 {
      margin: 2rem;
      .bold();
      font-size: 1.6rem;
    }

    img {
      width: 100%;
      max-width: 40rem;
    }
  }

  &-tag {
    display: block;
    margin: 2rem 0;
    .bold();
    font-size: 1.9rem;
  }

  &-list {
    min-height: 12rem;
    padding: 0;
    list-style: none;
    font-size: 1.6rem;
    line-height: 2.3rem;

    li {
      &::before {
        content: '';
        display: inline-block;
        margin-right: 1rem;
        vertical-align: middle;
        width: 1.5rem;
        height: 1.5rem;
        background: url(../img/price/check.svg) center no-repeat;
        background-size: 100%;
      }
    }
  }
}
/* Оформление блок с отзывами */
.feedback{
  padding: 8rem 0;
  background: url(../img/feedback/feedback-bg.png) no-repeat center;
  background-size: cover;
  /* Отзыв клиента */
  &-text{
    position: relative;
    display: block;
    margin-top: 2rem;
    padding: 2rem;
    font-size: 1.5em;
    line-height: 1.8rem;
    border: 2px solid @icon-green;
    /* Стрелка отзыва */
    &::before{
      content: '';
      position: absolute;
      display: block;
      left: 4rem;
      top: -2rem;
      width: 2rem;
      height: 2rem;
      border: 2px solid @icon-green;
      border-bottom: none;
      border-top-right-radius: 100px;
      background: @bg-light;
    }
  }
  /* Заголовок */
  &-header{
    text-align: center;
    margin-bottom: 8rem;
    h1{
      .bold();
      font-size: 3.6rem;
    }
  }
  /* Сладер Slick */
  &-slider{
    padding: 5rem 6rem;
    box-shadow: 0 1.2rem 1.8rem rgba(0, 0, 0, 0.11);
    background-color: @bg-light;
    /* Стрелки */
    &-btn{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      height: 5rem;
      background-color: @icon-green;
      border: none;
      img{
        width: 50%;
      }
      &_prev{
        left: -4rem;
      }
      &_next{
        right: -4rem;
      }
    }
    &_item{
      p{
        font-size: 1.6rem;
      }
    }
  }
}
/* Аватарка клиента */
.media{
  &-body{
    span{
      font-size: 1.4rem;
    }
    h5{
      font-size: 1.6rem;
      .bold();
    }
  }
}

/* Модальное окно */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);

  &-content {
    position: fixed;
    left: 50%;
    top: 10%;
    background-color: @bg-light;
    transform: translateX(-50%);
    padding: 4rem 6rem;
    text-align: center;
  }

  &-form {
    margin-top: 3rem;
    padding: 0;
  }

  &-close {
    position: absolute;
    top: -1.5rem;
    right: -2rem;
    font-size: 3rem;
    width: 2rem;
    border: 0;
    background: transparent;
    color: @text-light;
  }

  &-header {
    .bold();
    font-size: 1.8rem;
  }
}

/* Медиа запросы */
@media (max-width: 1199px) {
  .price {
    &-block {
      padding: 2rem;
    }

    &-header {
      margin-bottom: 0;
    }

    &-btn {
      margin: 2rem;
    }
  }
}

@media (max-width: 991px) {
  .main {
    background-position: top right;
  }

  .main-content {
    text-align: center;
  }
}

@media (max-width: 766px) {
  header {
    text-align: center;
  }

  .main {
    background-position: top left;
  }

  .main-content {
    margin-top: 17rem;
  }
}