// Fonts
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.reg(){
  font-family: 'ProximaNova_reg', sans-serif;
}
.bold(){
  font-family: 'ProximaNova_bold', sans-serif;
}

/* Цвета */
@btn-color: #f8af01;
@text-dark: #292929;
@text-light: #ffffff;
@attention: #ff0000;
@bg-green: #286b0a;
@bg-light: #f5f5f5;
@feature-color: #70c849;
@icon-color: #44b513;

/* Базовые настройки */
html {
  font-size: 10px;
}
body{
  .reg();
}

.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: @btn-color;
  color: @text-light;
  text-transform: uppercase;
  border: none;
}

/* Типографика */
section {
  padding: 10rem 0;
}

/* Main section */
.main {
  padding: 3rem 0;
}
.header{
  height: 7rem;
}
.wrap{
  display: table;
  width: 100%;
  height: 7rem;
  &-block{
    display: table-cell;
    vertical-align: middle;
  }
}
.phone-link{
  display: inline-block;
  .bold();
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: @text-dark;
}