@import components.sass
html
  font-size: 10px
  body
      font-family: 'Proxima Nova', sans-serif
      a, a:hover, a:visited, a:focus
        text-decoration: none
        color: #ffffff
// Header
header
  background-color: #191919
  color: white
  .container
    display: flex
    flex-wrap: wrap
    padding: 0
    height: 100px
    justify-content: space-between
    align-items: center
    .img
      flex-grow: 3
.btn-header
  padding: 1.6rem 3rem
.phone-number
  margin-right: 3rem
  font-size: 1.8rem
  font-weight: 700
.working-hours
  flex-grow: 1
  margin-top: 1.3rem
  font-size: 1.2rem