/* Подключение щрифтов */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap&subset=cyrillic');
/* Переменные */
/* Базовые настройки */
html {
  font-size: 10px;
  background-color: #fff;
}
html body {
  font-family: 'Ubuntu', sans-serif;
}
html body a {
  font-weight: 700;
  text-decoration: none;
  color: #292929;
}
html body a,
html body button {
  cursor: pointer;
}
.container {
  margin: 0 auto;
  width: 60%;
}
.container h2 {
  margin: 0;
  padding: 8rem 0 6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.yellow-btn {
  padding: 2rem 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #ffcc00;
  border: none;
}
/* Настройки секций */
.header {
  padding-bottom: 6rem;
  z-index: 1;
}
.header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.6rem;
}
.header header .logo {
  flex-grow: 2;
}
.header header .header-phone {
  margin-right: 3rem;
  text-align: right;
}
.header header .header-phone a {
  font-size: 1.8rem;
  font-weight: 700;
}
.header header .header-phone p {
  color: #969696;
  font-size: 1.1rem;
  margin: 1rem 0 0 0;
}
.header header .header-btn button {
  padding: 1.5rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #fff;
  border: 2px solid #292929;
  outline: none;
}
.main {
  z-index: 3;
  background: url(../img/bg-main.png) center no-repeat;
}
.main .container {
  /* Menu */
}
.main .container nav {
  transform: translateY(-3.2rem);
  background: #ffcc00;
}
.main .container nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main .container nav ul li {
  padding: 2.5rem 5rem;
}
.main .container nav ul li a {
  font-size: 1.4rem;
}
.main-content {
  padding: 11rem 0 10rem;
  color: #fff;
}
.main-content h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.main-content p {
  font-size: 1.4rem;
  width: 22rem;
  margin-bottom: 6rem;
}
.main-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38rem;
}
.main-btn span {
  font-size: 1.2rem;
}
.main-btn span a {
  margin-left: 1rem;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.avaible-blocks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8rem;
}
.avaible-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2.5rem;
  border: 2px solid #f6f6f6;
}
.avaible-block h6 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #292929;
  border-bottom: 1px solid #969696;
}
.avaible-block p {
  margin-bottom: 3rem;
  width: 22rem;
  line-height: 1.2;
  text-align: center;
  font-size: 1.3rem;
}
.avaible-block .price {
  font-size: 1.6rem;
  font-weight: 700;
}
.avaible-block button {
  margin: 3rem 0 1rem;
}
.advantage {
  text-align: center;
  background: #f4f4f4;
}
.advantage-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantage-block {
  padding: 2.5rem 4rem;
  margin-bottom: 8rem;
  border: 2px solid #ffffff;
  color: #292929;
}
.advantage-block h6 {
  font-size: 1.5rem;
}
.advantage-block p {
  width: 23rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.advantage-block:hover {
  background-color: #fff;
}
.product-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
.product-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 2px solid #f6f6f6;
}
.product-block h6 {
  text-align: center;
  width: 18rem;
  font-size: 1.3rem;
  border-bottom: 1px solid #969696;
}
.product-block .price {
  font-size: 1.6rem;
  font-weight: 700;
}
.product-block .price-old {
  color: #979797;
}
.product-block .discount {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff0000;
}
.product-block button {
  display: block;
  margin-top: 2.5rem;
  width: 100%;
  font-size: 1.2rem;
  outline: none;
}
.product .sale::before {
  content: 'Акция';
  position: absolute;
  display: inline-block;
  padding: 0.7rem 1rem;
  top: 8%;
  left: 13%;
  background-color: red;
  color: #fff;
}
.service {
  background-color: #f4f4f4;
  padding-bottom: 8rem;
}
.service-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  min-width: 30rem;
  text-align: center;
  border: 2px solid #ffffff;
}
.service-block h6 {
  margin-top: 2.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #969696;
}
.contact {
  padding: 8rem 0;
  background: url(../img/map.png) center no-repeat;
  background-size: cover;
}
.contact .container {
  display: flex;
  justify-content: flex-end;
}
.contact-block {
  padding: 6rem 6rem 7rem 6rem;
  background-color: #fff;
  width: 22%;
  color: #292929;
}
.contact-block h3 {
  font-size: 2rem;
}
.contact-phones {
  margin-top: 4rem;
}
.contact-phones a {
  margin-left: 2.5rem;
  display: block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.contact-phones::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/contact/1.png) center no-repeat;
}
.contact-adress {
  margin: 4rem 0 4rem 2.5rem;
  width: 21rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.contact-adress::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -2.5rem;
  background: url(../img/contact/2.png) center no-repeat;
}
.contact-mail {
  margin-left: 2.5rem;
  font-size: 1.4rem;
  text-decoration: underline;
  text-decoration-color: #969696;
}
.contact-mail::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -2.5rem;
  background: url(../img/contact/3.png) center no-repeat;
}
footer {
  padding: 5rem 0;
  background-color: #292929;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-logo img {
  margin-bottom: 4rem;
}
footer .footer-logo p {
  font-size: 1.2rem;
  color: #fff;
}
footer .footer-phone {
  text-align: right;
  color: #fff;
}
footer .footer-phone a {
  color: #fff;
  font-size: 1.8rem;
}
footer .footer-phone button {
  margin-top: 3rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #292929;
  border: 2px solid #fff;
  color: #fff;
  outline: none;
}
/* Media-Query */
