/* Подключение шрифтов */


@font-face {
  font-family: 'Circe_reg';
  src: url('../fonts/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
    url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe_eb';
  src: url('../fonts/Circe-ExtraBold.eot');
  src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
    url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-ExtraBold.woff') format('woff'),
    url('../fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Миксины */
.reg() {
  font-family: 'Circe_reg', serif;
}

.eb() {
  font-family: 'Circe_eb', serif;
}

/* Переменные */
@bg-grey: #F8F8F8;
@bg-light: #FFFFFF;
@btn: #FF6C6C;

/* Базовые настройки */
html {
  font-size: 10px;

  body {
    .reg;

    h2 {
      .eb();
      font-size: 2.4rem;
      margin-bottom: 5rem;
    }

    /* Списки */
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }

    /* Ссылки */
    a,
    a:hover,
    a:visited {
      text-decoration: none;
      color: #000000;
    }

    /* Оформление кнопки */
    button {
      padding: 1.5rem 5.5rem;
      .eb();
      font-size: 1.8rem;
      background-color: @btn;
      color: #ffffff;
      border: none;
      border-radius: .4rem;
    }

    button:active,
    button:focus,
    input,
    textarea {
      outline: none;
    }

    input,
    textarea {
      box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
      border-radius: 5px;
      border: none;
    }
  }
}

/* Оформление секции main */
.main {
  padding: 4rem 0 10rem;
  background-color: @bg-grey;

  /* Оформление Header-а */
  &-header {
    display: flex;
    margin-bottom: 14.3rem;
    justify-content: space-between;
    align-items: center;
  }

  /* Навигация */
  &-nav {
    display: flex;

    &__item {
      margin-right: 2.5rem;
      font-size: 1.4rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  /* Логотип */
  .logo {
    .eb;
    font-size: 1.8rem;
  }

  /* Телефон */
  .phone {
    .eb();
    font-size: 1.6rem;
  }

  /* Оформление Контента */
  &-content {
    display: flex;
    align-items: top;

    &-text {
      margin-top: 4.4rem;
    }

    h1 {
      .eb;
      font-size: 5.8rem;
      line-height: 100%;
    }

    p {
      margin-bottom: 4.2rem;
      margin-top: 2.3rem;
      font-size: 1.7rem;
      line-height: 160%;
    }
  }

  /* Тени Кнопки */
  &-btn {
    box-shadow: 0px 10px 25px rgba(255, 108, 108, 0.5);
  }
}

/* Оформление секции Каталога */
.catalog {
  padding: 10rem 0;

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-card {
    padding: 3rem;
    text-align: center;
    flex-basis: 30%;
    background-color: @bg-grey;
    margin-bottom: 3rem;
    box-shadow: 0px 4px 4px rgba(104, 104, 104, 0.1);
    border-radius: 5px;

    button {
      width: 100%;
    }
  }

  &-text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      flex-basis: 70%;
      text-align: left;
      .eb;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    strong {
      text-align: right;
      .eb;
      font-size: 5.3rem;
    }
  }
}

/* Оформление секции Отзывы */
.feedback {
  margin-bottom: 10rem;

  &-cards {
    display: flex;
    justify-content: space-between;
  }

  &-card {
    padding: 2rem 3rem;
    box-shadow: 0px 4px 4px rgba(131, 131, 131, 0.25);
    border: 1px solid #EDEDED;
    border-radius: 10px;
    flex-basis: 23%;

    h4 {
      margin: 1.5rem 0;
      .eb;
      font-size: 1.4rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }
}

/* Оформление секции Контакты */
.contacts {
  background-color: @bg-grey;
  padding: 10rem 0;

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    form {
      font-size: 1.4rem;
      line-height: 2.1rem;
      flex-basis: 50%;

      textarea {
        padding: 2.5rem 3rem;
        width: 100%;
        margin-bottom: 3rem;
      }

      button {
        padding: 1.5rem 5.5rem;
        margin-right: 4rem;
        .reg();
        font-size: 1.8rem;
      }

      a {
        margin-right: 2.2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .map {
      flex-basis: 48%;
    }
  }

  &-inputs {
    display: flex;
    justify-content: space-between;

    input {
      padding: 2.5rem 3rem;
      margin-bottom: 3rem;
      width: 47%;
    }
  }
}